.visual {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.background {
  background: #f9ba08;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family:
    "Montserrat",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.loginContainer {
  font-family:
    "Montserrat",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.loginLogo {
  width: 150px;
  margin-bottom: 140px;
}

.loginBox {
  background: rgba(58, 58, 58, 0.9);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  position: relative;
}

.inputGroup {
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputGroup > input {
  width: 100%;
  padding: 10px;
  margin: 5px 0px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
}

.loginBtn {
  width: 100%;
  padding: 10px;
  background-color: white;
  color: #2d2d2d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.loginBtn:hover {
  background-color: #f9ba08;
}

.forgotPassword {
  display: block;
  margin-top: 10px;
  color: whitesmoke;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

/* Circulo */
.background > img:nth-child(1) {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

/* Curva */
.background > img:nth-child(2) {
  position: absolute;
  right: 0px;
  top: 0px;
}

.errorMessage {
  color: red;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: #444 !important;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white !important;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 400px;
}

.modalContent input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #333 !important;
  color: white !important;
}

.loginBtn {
  width: 100%;
  padding: 10px;
  background-color: white;
  color: #2d2d2d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.loginBtn:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.closeBtn {
  margin-top: 10px;
  background: #666 !important;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.closeBtn:hover {
  background: #777;
}
