.list {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 0px 28px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  flex-direction: column;
}

.listElement {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
}