.camera-view p:first-child {
  font-size: 32px;
  font-weight: bold;
}

.camera-view p:last-child {
  font-size: 16px;
  cursor: text;
}

.camera-view {
  aspect-ratio: 16 / 9;
  object-fit: contain;
}
