.player {
  flex-grow: 100;
}

.videoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(59, 59, 59);
  padding: 10px;
  border-radius: 10px;
}

.videoWrapper {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.videoElement {
  width: 100%;
  object-fit: cover;
  background-color: rgb(29, 29, 29);
  /* Alter if needed the background color was just for testing purposes */
}

.controls {
  width: 100%;
}
