.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #282828;
  color: white;
  align-items: center;
  padding-top: 60px;
  width: 100%;
  overflow-x: hidden; /* i screwed up and te page was scroling jsujt to be sure */
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
  overflow: hidden;
}

.cameras {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  padding: 20px;
  width: 80%;
  max-width: 1200px;
  justify-content: center;
}

.main-view {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-top: 10px;
  cursor: pointer;
}

.highlighted-camera {
  width: 60%;
  height: 100%;
  border: 3px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.1);
}

/* NOT SHOWING THE LAST CAMERA? WHY */
.carousel {
  display: flex;
  gap: 16px;
  width: 80%;
  max-width: 1000px;
  padding: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
}

.camera-feed {
  min-width: 150px;
  height: 150px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition:
    transform 0.3s ease-in-out,
    border-color 0.3s;
  scroll-snap-align: center;
}

.camera-feed.active,
.highlighted-camera {
  border-color: yellow;
}

.carousel::-webkit-scrollbar {
  height: 8px;
}

.carousel::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.carousel::-webkit-scrollbar-track {
  background: #333;
}

.camera-feed:hover {
  transform: scale(1.05);
}
