.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modalCloseBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.addCameraForm {
  margin-top: 10px;
}

.addCameraForm h2 {
  margin-bottom: 20px;
  text-align: center;
  color: black;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.addCameraForm input,
.addCameraForm textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
}

.submitBtn {
  width: 100%;
  padding: 12px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.cameraPreviewArea {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  border: 1px solid #00000024;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  height: 200px;
  width: 50%;
  z-index: 999;

  display: flex;
  padding: 50px;
  justify-content: center;
  align-items: center;
}

.previewPlaceholder {
  text-align: center;
}

.successCheckmark {
  font-size: 2em;
  margin-right: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.inputColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.mapColumn {
  width: 600px;
  height: 100%;
}
