.controlsWrapper {
  padding: 10px 10px 10px 0px;
  width: 100%;
  height: 20px;
  display: flex;

  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
}

.playButton {
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

:root {
  --progress-position: 0;
  --progressbar-height: 7px;
}

.progressBarContainer {
  display: flex;
  align-items: center;

  width: 100%;
  height: var(--progressbar-height);

  background: rgba(100, 100, 100, 1);
}

.progressBar {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: var(--progressbar-height);
}

.progressBar::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--progress-position) * 100%);
  background: #ff3131;
}

.progressBarBubble {
  /* Aspect of the bubble */
  position: absolute;
  height: 200%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: #4848ff;
  transition: transform 150ms ease-in-out;

  /* Position and animations */
  left: calc(var(--progress-position) * 100%);
  transform: translateX(-50%);
  top: -50%;

  z-index: 2;
}
