.outer-metaballs-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.inner-metaballs-container {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(40px);
}

.metaball {
  position: absolute;

  border-radius: 50%;
  filter: contrast(200%);
  background: #4a4a4a;
}
