.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem 2rem;
  position: relative;
  z-index: 1;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-logo1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-right: 1rem;
}

.navbar-logo-image {
  height: 40px;
  width: 40px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 0;
}

.navbar-menu li {
  font-size: 1rem;
}

.navbar-menu li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.navbar-menu li a:hover {
  color: #ff6347;
}

.navbar-profile-container {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 100;
}

.navbar-profile {
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.3s ease;
  z-index: 1000;
}

.navbar-profile:hover {
  color: #ff6347;
}

.navbar-profile-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  color: black;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 150px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.navbar-profile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: visible;
}

.navbar-profile-menu ul li {
  padding: 10px;
  text-align: left;
  transition: background 0.3s ease;
  overflow: visible;
}

.navbar-profile-menu ul li a {
  text-decoration: none;
  color: black;
  display: block;
  width: 100%;
  overflow: visible;
}

.navbar-profile-menu ul li:hover {
  background: #f0f0f0;
}

/*@media (max-width: 768px) {*/
/*  .navbar {*/
/*    flex-direction: column;*/
/*    align-items: flex-start;*/
/*  }*/
/**/
/*  .navbar-menu {*/
/*    flex-direction: column;*/
/*    gap: 1rem;*/
/*    margin-top: 1rem;*/
/*  }*/
/**/
/*  .navbar-profile {*/
/*    margin-top: 1rem;*/
/*  }*/
/**/
/*  .navbar-profile-menu {*/
/*    right: 10px;*/
/*    overflow: visible;*/
/*  }*/
/*}*/

.admin-link a {
  font-weight: 600;
}
