.row {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.submitButton {
  width: 200px;
  height: 40px;
  background-color: #f9ba08;
  border-radius: 8px;
  border: none;
  color: rgb(0, 0, 0);
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
}

.submitButton:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transform: translateY(-1px);
}

:root {
  --progress-position: 0;
  --progressbar-height: 7px;
}

.progressBarContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  width: 100%;
  height: var(--progressbar-height);

  background: rgba(100, 100, 100, 1);
}

.progressBar {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: var(--progressbar-height);
}

.progressBar::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--progress-position) * 100%);
  background: #0044ff;
}
