.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #282828;
  color: white;
  align-items: center;
  padding-top: 60px;
  width: 100%;
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
  overflow: hidden;
}

.add-camera {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px dashed white;
  font-size: 48px;
  cursor: pointer;
  margin: 20px auto;
}

.map-view {
  width: 80%;
  max-width: 1000px;
  margin-bottom: 20px;
}

.camera-feed {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  padding: 20px;
  width: 80%;
  max-width: 1200px;
  justify-content: center;
}

.camera-view {
  min-width: 150px;
  height: 150px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition:
    transform 0.3s ease-in-out,
    border-color 0.3s;
}

.camera-view:hover {
  transform: scale(1.05);
}

.menu-options {
  margin-top: 20px;
}

.leaflet-container {
  border: 2px solid white;
  border-radius: 8px;
  overflow: hidden;
}

.close-modal-button2 {
  position: absolute;
  right: 0px;
  top: -30px;
  background-color: #444444;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  margin-top: 30px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1000;
}

.close-modal-button2:hover {
  background-color: #303030;
}

.viewer-wrapper {
  margin-top: 82px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  justify-items: center;
  width: 100%;
}
